
$black_color : #1A1A1A;
$white_color : #FFFFFF;
$pink_color:#FF196E;
$blue_color: #253CFF;
$green_color:#91CF70;
$border-color:#A0A0A0;
$amazon-text-color:#a1a1a1;
$third-card-background-color:#080F4B;
$forms-backgroubnd-color:#E1F0FF;
$bottom-border-color:#786B6B;
$gradient-color-one:#F8DBD7;
$gradient-color-two:#F9E7D4;


// margin
$m-0: 0px;
$m-tiny: 1px;
$m-vvvs: 4px;
$m-vvs: 8px;
$m-vs: 12px;
$m-small: 16px;
$m-medium: 20px;
$m-large: 24px;
$m-xl: 32px;
$m-xxl: 40px;
$m-xxl-s:50px;
$m-xxxl: 60px;


$mt-0: 0px;
$mt-tiny: 1px;
$mt-vvvs: 4px;
$mt-vvs: 8px;
$mt-vvs-s:11px;
$mt-vs: 12px;
$mt-vs-s: 15px;
$mt-small: 16px;
$mt-medium: 20px;
$mt-large: 24px;
$mt-large-s:30px;
$mt-xl: 32px;
$mt-xl-s: 34px;
$mt-xxl: 40px;
$mt-xxl-s:47px;
$mt-xxxl: 60px;
$mt-xxxl-s: 63px;
$mt-xxxl-ss:68px;
$mt-xxxl-ss-s:73px;
$mt-xxxl-sm:75px;
$mt-xxxl-m: 79px;
$mt-lg-s: 90px;


$mb-0: 0px;
$mb-tiny: 1px;
$mb-vvvs: 4px;
$mb-vvs: 8px;
$mb-vs: 12px;
$mb-small: 16px;
$mb-medium: 20px;
$mb-large: 24px;
$mb-xl: 32px;
$mb-xxl: 40px;
$mb-xxxl: 60px;


$mr-0: 0px;
$mr-tiny: 1px;
$mr-vvvs: 4px;
$mr-vvs: 8px;
$mr-vvs-s:10px;
$mr-vs: 12px;
$mr-small: 16px;
$mr-medium: 20px;
$mr-large: 24px;
$mr-xl: 32px;
$mr-xxl: 40px;
$mr-xxxl: 60px;
$mr-xxxl-s:66px;
$mr-xxxl-s:80px;
$mr-xxxl-lg: 104px;
$mr-xxxl-lg-lg: 120px;


$ml-0: 0px;
$ml-tiny: 1px;
$ml-vvvs: 4px;
$ml-vvs: 8px;
$ml-vs: 12px;
$ml-small: 16px;
$ml-medium: 20px;
$ml-large: 24px;
$ml-xl: 32px;
$ml-xxl: 40px;
$ml-xxxl: 60px;
$ml-xxxl-s: 65px;
$ml-xxxl-sm:90px;
$ml-xxxl-xxxl:110px;
$ml-xxxl-xxxl-s:123px;
$ml-xxxl-xxxxl: 150px;



//  padding
$p-0: 0px;
$p-tiny: 1px;
$p-vvvs: 4px;
$p-vvs: 8px;
$p-vs: 12px;
$p-small: 16px;
$p-medium: 20px;
$p-large: 24px;
$p-xl: 32px;
$p-xxl: 40px;
$p-xxxl: 60px;

// font -size
$fs-0: 0px;
$fs-tiny: 1px;
$fs-vvvs: 4px;
$fs-vvs: 8px;
$fs-vs: 12px;
$fs-vss:13px;
$fs-vvss:14px;
$fs-vvss-x:15px;
$fs-small: 16px;
$fs-small-x:17px;
$fs-small-y:18px;
$fs-small-z:19px;
$fs-medium: 20px;
$fs-medium-x: 21px;
$fs-medium-y: 22px;
$fs-large: 24px;
$fs-large-x: 25px;
$fs-large-y: 27px;
$fs-large-z: 28px;
$fs-large-zx: 29px;
$fs-large-zy: 30px;
$fs-xl: 32px;
$fs-xl-x: 35px;
$fs-xl-y: 38px;
$fs-xxl: 40px;
$fs-xxl-x: 42px;
$fs-xxl-y: 50px;
$fs-xxxl: 62px;

// border
$border-sm:10px;
$border-md:20px;
$border-lg:30px
